body {
  background-color: black;
  color: green;
  font-family: fantasy;
  font-size: larger;
}
/*each stem has its duration slightly diff but wihtin .08-1 sec*/
/*using em for position units*/

.stem9 {
  overflow: hidden;
  position: absolute;
  bottom: 5em;
  right: 19.1em;
  animation-name: rotate;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
/*each stem has its own rotate animation*/
/*animations alternate -10deg to 10 deg*/
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(10deg);
  }
}

.stem8 {
  overflow: hidden;
  position: absolute;
  bottom: 6em;
  right: 18.9em;
  animation-name: rotate8;
  animation-duration: 0.8s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes rotate8 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.stem7 {
  overflow: hidden;
  position: absolute;
  bottom: 7em;
  right: 19.1em;
  animation-name: rotate7;
  animation-duration: 0.9s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes rotate7 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(10deg);
  }
}

.stem6 {
  overflow: hidden;
  position: absolute;
  bottom: 8em;
  right: 18.9em;
  animation-name: rotate6;
  animation-duration: 0.9s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate6 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.stem5 {
  overflow: hidden;
  position: absolute;
  bottom: 9em;
  right: 19.1em;
  animation-name: rotate5;
  animation-duration: 0.8s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate5 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(10deg);
  }
}
.stem4 {
  overflow: hidden;
  position: absolute;
  bottom: 10em;
  right: 18.9em;
  animation-name: rotate4;
  animation-duration: 0.9s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate4 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.stem3 {
  overflow: hidden;
  position: absolute;
  bottom: 11em;
  right: 19.1em;
  animation-name: rotate3;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate3 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(10deg);
  }
}

.stem2 {
  overflow: hidden;
  position: absolute;
  bottom: 12em;
  right: 18.9em;
  animation-name: rotate2;
  animation-duration: 0.8s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate2 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.stem1 {
  overflow: hidden;
  position: absolute;
  bottom: 13em;
  right: 19.1em;
  animation-name: rotate1;
  animation-duration: 0.9s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate1 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(10deg);
  }
}
.stem10 {
  overflow: hidden;
  position: absolute;
  bottom: 14em;
  right: 18.9em;
  animation-name: rotate10;
  animation-duration: 0.8s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate10 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.stem11 {
  overflow: hidden;
  position: absolute;
  bottom: 15em;
  right: 19.1em;
  animation-name: rotate11;
  animation-duration: 0.9s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate11 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(10deg);
  }
}
.stem12 {
  overflow: hidden;
  position: absolute;
  bottom: 16em;
  right: 18.9em;
  animation-name: rotate12;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate12 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.stem13 {
  overflow: hidden;
  position: absolute;
  bottom: 17em;
  right: 19.1em;
  animation-name: rotate13;
  animation-duration: 0.9s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate13 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(10deg);
  }
}

.stem14 {
  overflow: hidden;
  position: absolute;
  bottom: 18em;
  right: 18.9em;
  animation-name: rotate14;
  animation-duration: 0.8s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate14 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-10deg);
  }
}
.stem15 {
  overflow: hidden;
  position: absolute;
  bottom: 19em;
  right: 19.1em;
  animation-name: rotate15;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate15 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(10deg);
  }
}

.stem15 {
  overflow: hidden;
  position: absolute;
  bottom: 5em;
  right: 17em;
  animation-name: rotate15;
  animation-duration: 0.8s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate15 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(10deg);
  }
}
.stem16 {
  overflow: hidden;
  position: absolute;
  bottom: 6em;
  right: 16.9em;
  animation-name: rotate16;
  animation-duration: 1.1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate16 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-10deg);
  }
}
.stem17 {
  overflow: hidden;
  position: absolute;
  bottom: 7em;
  right: 17.1em;
  animation-name: rotate17;
  animation-duration: 0.9s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate17 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(10deg);
  }
}
.stem18 {
  overflow: hidden;
  position: absolute;
  bottom: 8em;
  right: 16.9em;
  animation-name: rotate18;
  animation-duration: 0.8s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate18 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-10deg);
  }
}
.stem19 {
  overflow: hidden;
  position: absolute;
  bottom: 9em;
  right: 17.1em;
  animation-name: rotate19;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate19 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(10deg);
  }
}

.stem20 {
  overflow: hidden;
  position: absolute;
  bottom: 10em;
  right: 16.9em;
  animation-name: rotate20;
  animation-duration: 1.1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate20 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.stem21 {
  overflow: hidden;
  position: absolute;
  bottom: 11em;
  right: 17.1em;
  animation-name: rotate21;
  animation-duration: 0.9s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate21 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(10deg);
  }
}

.stem22 {
  overflow: hidden;
  position: absolute;
  bottom: 5em;
  right: 25em;
  animation-name: rotate21;
  animation-duration: 0.9s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
@keyframes rotate21 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(10deg);
  }
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;

  background: radial-gradient(
      ellipse at 50% 50%,
      rgb(255, 255, 255),
      rgba(255, 247, 0, 0)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 700 700' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  filter: contrast(500%) brightness(600%) invert(45%);
  mix-blend-mode: screen;
  height: 5em;
}
