:root {
  --green: #00ff00;
  --white: #ffffff;
  --black: #000000;
}
* {
  color: var(--fontColor);
  font-family: helvetica;
}
body {
  background: var(--bg);
}

ul {
  font-family: cursive;
}
li {
  list-style: circle;
}

.list {
  list-style: square;
}

.light-theme {
  --bg: var(--green);
  --fontColor: var(--black);
}
.dark-theme {
  --bg: var(--black);
  --fontColor: var(--green);
}
