:root {
  --green: #00ff00;
  --white: #ffffff;
  --black: #000000;
}
* {
  color: var(--fontColor);
  font-family: Helvetica;
}

h1 {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-align: center;
}

body {
  background: var(--bg);
}

ul {
  font-family: cursive;
  text-align: center;
}
li {
  list-style: circle;
  text-decoration: line-through;
}
P {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.light-theme {
  --bg: var(--green);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--green);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}
